html,
body,
.body {
  background: #e4e5ea;
  background-color: #e4e5ea;
  padding-bottom: 300px;
}

.header {
  background: $primary-color;
  background-color: $primary-color;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;

    .logo_white {
      width: 128px;
    }

    .user_icon {
      width: 32px;
    }
  }
}

.sub-header {
  background: #d65600;
  background-color: #d65600;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;

    a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;

      .icons {
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
      }
    }

    th {
      text-align: center;
    }

    .menu-divider {
      display: block;
      height: 20px;
      width: 1px;
      background: #ff690f;
      background-color: #ff690f;
    }
  }
}

.deal_of_day {
  background: #13191F;
  background-color: #13191F;

  .columns {
    th {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  img {
    padding-bottom: 20px;
  }

  h2 {
    font-weight: 900;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
  }

  span {
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    display: block;

    &.save_amount {
      font-size: 14px;

    }

    &.tiny_info {
      font-size: 10px;
      font-weight: 300;
      padding-bottom: 10px;
    }

    &.price {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

  .button {
    display: block;
    width: 150px;
    text-align: center;
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 auto;

    &:hover {
      color: $primary-color;
    }
  }
}

.content-area {
  background: #F1F4F7;
  background-color: #F1F4F7;

  &>tbody>tr>th {
    padding-top: 0;
  }

  .first-offer {
    padding-top: 16px !important;
  }

  .offer {
    background: #fff;
    background-color: #fff;

    .columns {
      th {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }

      &>table {
        max-width: 568px;
        table-layout: fixed;
      }
    }

    img {
      padding-bottom: 20px;
    }

    h2 {
      font-weight: 900;
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      padding-bottom: 20px;
    }

    p {
      font-weight: 600;
      color: #334755;
      font-size: 16px;
      text-align: center;
      padding-bottom: 10px;
    }

    span {
      font-weight: 600;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      display: block;

      &.save_amount {
        font-size: 14px;
        color: #1a88f3;
      }

      &.tiny_info {
        font-size: 10px;
        font-weight: 500;
        padding-bottom: 10px;
        color: #334755;
      }

      &.price {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
        color: #334755;
      }
    }

    .button {
      background: #14181c;
      background-color: #14181c;
      display: block;
      width: 150px;
      text-align: center;
      color: #ffffff;
      padding-top: 7px;
      padding-bottom: 7px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      margin: 0 auto;

      &:hover {
        color: $primary-color;
      }
    }

    &.last-offer {
      .group-icons {
        width: 190px;
        margin: 0 auto;
        padding-bottom: 0;
      }

      h4 {
        font-weight: 600;
        color: #334755;
        font-size: 16px;
        text-align: center;
        padding-bottom: 10px;
      }

      p {
        font-weight: 400;
        color: #334755;
        font-size: 14px;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}

.footer-top {
  background: #222d37;
  background-color: #222d37;

  &>tbody>tr>th {
    padding-bottom: 25px !important;
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    vertical-align: middle;
  }

  th {
    padding-bottom: 0;
    padding-top: 0;
  }

  .circle-logo {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 40px;
  }

  .call-to-action {
    display: block;
    font-size: 14px;
    font-weight: 700;
    hyphens: none;
    line-height: 1;
    padding-bottom: 8px;
  }

  .info {
    display: block;
    font-size: 12px;
    font-weight: 900;
    hyphens: none;
  }

  .info-section>table>tbody>tr>th {
    color: #ffffff;
    padding-left: 10px;
  }

  .store-logos {
    padding-left: 10px !important;
    padding-right: 25px !important;

    &>table>tbody>tr>th>table>tbody>tr>th {
      padding-bottom: 5px;
    }

    img {
      display: block;
      height: 40px;
      margin: 0 auto;
    }

    .appstore {
      width: 120px !important;
    }

    .playstore {
      // width: 135px !important;
      width: 120px !important;
    }
  }
}

.footer-social {
  background: #14181c;
  background-color: #14181c;

  &>tbody>tr>th {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  th {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo-section {
    // padding-top: 30px;
    // padding-bottom: 30px;
    // padding-left: 30px;
    // padding-right: 30px;

    img {
      width: 128px;
    }
  }

  .social-icons {
    img {
      height: 32px;
      width: 32px;
      display: block;
      margin: 0 auto;
    }
  }
}

.footer-menu {
  background: #14181c;
  background-color: #14181c;

  border-top: 1px solid #2d3e4b;
  border-bottom: 1px solid #2d3e4b;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;

    a {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;

      .icons {
        width: 20px;
        margin-right: 10px;
        display: inline-block;
        vertical-align: bottom;
      }
    }

    th {
      text-align: center;
    }

    .menu-divider {
      display: block;
      height: 20px;
      width: 1px;
      background: #2d3e4b;
      background-color: #2d3e4b;
    }
  }
}

.footer-bottom {
  background: #14181c;
  background-color: #14181c;

  &>tbody>tr>th {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .lower-links {
    .link {
      color: #ffffff;

      &:hover {
        color: $primary-color !important;
      }

      font-size: 12px !important;
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    // a:hover {
    //   color: $primary-color;
    // }
  }
}

.privacy {
  th {
    padding-bottom: 0;
  }

  &>tbody>tr>th>table>tbody>tr>th {
    padding-bottom: 30px;
  }

  p {
    color: #a0a1a3;
    font-size: 10px;
  }
}

.copyright,
.address {
  th {
    padding-bottom: 0;
  }

  .columns {
    p {
      color: #d0d0d1;
      font-size: 13px;
      font-weight: 400;
      padding-bottom: 0;
    }
  }
}

.center-tag {
  min-width: auto;
}

@media all {

  // typography
  a:hover {
    color: $primary-color !important;
  }
}