<container>
  <row class="footer-top">
    <columns small="7" large="6" valign="middle">
      <row>
        <columns small="3" large="2" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/logo_circle.png" class="circle-logo" />
        </columns>
        <columns small="9" large="10" class="info-section" valign="middle">
          <span class="call-to-action">Download the app</span>
          <span class="info">Cheap flights, hotels &amp; more</span>
        </columns>
      </row>
    </columns>

    <columns small="5" large="6" class="store-logos">
      <row>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/appstore.png" class="appstore" />
        </columns>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/playstore.png" class="playstore" />
        </columns>
      </row>
  </row>
</container>